* {
    background-color: beige;
    margin: 10px;
}

p {
    color: blue;
    font-family: Arial;
}

h1 {
    background-color: blueviolet;
}

p a {
    font-weight: bold;
}

#estilo01 {
    color: chocolate;
    font-weight: bold;
}

.estilo02 {
    color: darkcyan;
}

h2,
h3 {
    background-color: yellow;
}